<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div>
    {{ msg}}
    3
    23
  </div>
  {% for athlete in data%}
  <ul>

    <li>{{ athlete.name }}</li>
    <li>{{ athlete.address }}</li>
    <li>{{ athlete.city }}</li>
    <li>{{ athlete.state_province }}</li>
    <li>{{ athlete.country }}</li>
    <li>{{ athlete.website }}</li>

  </ul>
  {% endfor %}
</body>

</html>