.login{
  width: 300px;
  padding: 10px;
  margin: 35px auto 0;
  .user{
    padding: 55px 10px;
    .user-border{
      width: 100px;
      margin: 0 auto;
      text-align: center;
      .user-img{
        display: inline-block;
        max-width: 100%;
        margin: 0 auto;
        border: 3px solid rgba(255,255,255,0.3);
        border-radius:50%;
      }
    }
  }
  .btn{
    width: 120px;
  }
}
  